@model IEnumerable<ProvaAvonale.WebApi.Models.ViewModel.RepositorioViewModel>

@{
    ViewBag.Title = "Repositórios";
}

<h2>Repositórios</h2>
@using (Html.BeginForm("List", "Home", FormMethod.Get))
{
    <p>
        <span>Pesquisar por nome</span>
        <div class="col-md-8" style="padding-left: 0; padding-bottom: 10px;">
            <div class="col-md-5" style="padding-left: 0;">
                <input type="text" id="filtro" name="filtro" class="form-control" value="" />
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary" type="submit">Pesquisar</button>
            </div>
        </div>
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Privado)
        </th>
        <th>
            <label>Favoritos</label>
        </th>
    </tr>

@foreach (var item in Model)
{
<tr>
    <td>
        <a href="Detalhes/@item.Id">@Html.DisplayFor(modelItem => item.Nome)</a>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Descricao)
    </td>
    <td>
        @{ var privado = item.Privado.Equals("true") ? "Sim" : "Não"; }
        <label style="padding-left: 10px; font-weight: 100;">@privado</label>
    </td>
    <td style="text-align: center;">
        @*@using (Html.BeginForm("AdicionarRepositorioAosFavoritos", "Home", FormMethod.Post))
        {
            <input type="checkbox" id="favoritos" name="favoritos" class="form-group" />
        }*@
        @{ var url = Url.Action("AdicionarRepositorioAosFavoritos", "Home", new { id = item.Id }, null);
            if (item.IsFavorito)
            {
                @Html.CheckBox("checkboxfavorito", new { @checked = true, onclick = "window.location = '" + url + "'" })
            }
            else
            {
                @Html.CheckBox("checkboxfavorito", new { onclick = "window.location = '" + url + "'" })
            }

        }
    </td>
</tr>
}

</table>