@model IEnumerable<ProvaAvonale.WebApi.Models.ViewModel.RepositorioViewModel>

@{
    ViewBag.Title = "ListarRepositoriosUsuario";
}

<h2>ListarRepositoriosUsuario</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeCompleto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Privado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeCompleto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Privado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
    </tr>
}

</table>
