@model IEnumerable<ProvaAvonale.WebApi.Models.ViewModel.RepositorioViewModel>

@{
    ViewBag.Title = "Favoritos";
}

<h2>Favoritos</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Privado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataAtualizacao)
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="Detalhes/@item.Id">@Html.DisplayFor(modelItem => item.Nome)</a>
                </td>
                <td>
                    @{ var privado = item.Privado.Equals("true") ? "Sim" : "Não"; }
                    <label style="padding-left: 10px; font-weight: 100;">@privado</label>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataAtualizacao)
                </td>
                <td>
                    @Html.ActionLink("Remover", "RemoverFavoritos", new { id = item.Id })
                </td>
            </tr>
        }
    }
</table>
